# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.pytest_cache/
*.DS_Store
# Ignore virtual environments
venv/
.venv/
env/
env.bak/
# Ignore log files
*.log
# Ignore StarCraft II replay files
*.SC2Replay
